<bread-crumb
  [rootName]="rootName"
  [breadCrumbLists]="breadCrumbLists" [idLists]="ids" (clickBreadCrumb)="clickTreeOrBreadCrumb($event)"></bread-crumb>
<div class="modal-group-add-membe-body clearfix">
  <div class="modal-group-add-member pull-left" [ngClass]="{isMulti:selectType == 'multiple'}">
    <div class="modal-group-add-member__content">
      <div class="modal-group-add-member__content__search--input--box">
        <input #searchBox class="form-control search--input"  id="search-box"  [formControl]="searchControl" placeholder="搜索"/>
        <md-select   class="select--input" *ngIf="type == 'all'"   [(ngModel)]="objectType" (change)="changeType()">
          <md-option  [value]="'all'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_ALL' | translate}}
          </md-option>
          <md-option  [value]="'user'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_USER' | translate}}
          </md-option>
          <md-option  [value]="'group'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_GROUP' | translate}}
          </md-option>
          <md-option  [value]="'role'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_ROLE' | translate}}
          </md-option>
        </md-select>
      </div>

      <ul class="modal-group-add-member__list--box " >
        <!--<span class="modal-group-add-member__content__head"></span>-->
        <li *ngFor="let list of rows"
            class="modal-group-add-member__content__everyuser"
            (dblclick)="enterGroup(list)"
        >
          <i  (click)="selectRow(list);$event.stopPropagation()"
            [ngClass]="{'fa-circle-o' : !list.isChecked,'fa-check-circle' : list.isChecked}" class="fa  modal-group-add-member__content__everyuser-icon pull-right"></i>
          <span class="everyuser-username">{{list.objectName}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-group-add-member-result pull-right" *ngIf="selectType == 'multiple'">
    <ul class="modal-group-add-member-result__content ">
      <li *ngFor="let list of selectedList; let i = index"
          class="modal-group-add-member-result__content__everyuser"
      >
        <span class="everyuser-username" >{{list.objectName}}</span>
        <i (click)="selectedList.splice(i,1);cancelRow(list);$event.stopPropagation()"
           class="fa fa-times-circle pull-right modal-group-add-member-result__content__everyuser-icon"></i>
      </li>
    </ul>
  </div>
</div>
<ngb-pagination (pageChange)="changePage($event)" [pageSize]="50" [collectionSize]="totalElement" [(page)]="currentPage"  [rotate]="true" [boundaryLinks]="false"></ngb-pagination>


