:host {
  height: 100%;
  width: calc(100% - 50px);
  display: inline-block;
  float: right; }

.toolbar--option--btn--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px; }
  .toolbar--option--btn--wrap .toolbar--option--btn--box .same--type--btn--group {
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
    font-size: 0; }
    .toolbar--option--btn--wrap .toolbar--option--btn--box .same--type--btn--group .btn {
      border-radius: 0; }
      .toolbar--option--btn--wrap .toolbar--option--btn--box .same--type--btn--group .btn:first-child {
        border-radius: 4px 0 0 4px;
        border-right: none; }
      .toolbar--option--btn--wrap .toolbar--option--btn--box .same--type--btn--group .btn:last-child {
        border-radius: 0 4px 4px 0;
        border-left: none; }
    .toolbar--option--btn--wrap .toolbar--option--btn--box .same--type--btn--group.one--btn .btn {
      border-radius: 4px;
      border-right: 1px solid #cccccc; }
      .toolbar--option--btn--wrap .toolbar--option--btn--box .same--type--btn--group.one--btn .btn:hover {
        border-color: #adadad; }
    .toolbar--option--btn--wrap .toolbar--option--btn--box .same--type--btn--group.one--btn .btn-success {
      color: #ffffff; }
    .toolbar--option--btn--wrap .toolbar--option--btn--box .same--type--btn--group.two--btn .btn:first-child {
      border-right: 1px solid #4cae4c; }
      .toolbar--option--btn--wrap .toolbar--option--btn--box .same--type--btn--group.two--btn .btn:first-child:hover {
        border-right-color: transparent; }
    .toolbar--option--btn--wrap .toolbar--option--btn--box .same--type--btn--group.two--btn .btn-success {
      color: #ffffff;
      background-color: #5cb85c;
      border-color: #4cae4c; }
      .toolbar--option--btn--wrap .toolbar--option--btn--box .same--type--btn--group.two--btn .btn-success:hover {
        background-color: #449d44;
        border-color: #398439; }
  .toolbar--option--btn--wrap .toolbar--option--btn--box .btn {
    padding: 6px 15px;
    color: #777777;
    margin-right: 0;
    outline: none; }
  .toolbar--option--btn--wrap .filter--condition--box {
    margin-right: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .toolbar--option--btn--wrap .filter--condition--box .search--wrap {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .toolbar--option--btn--wrap .filter--condition--box .search--wrap .search--box {
        position: relative;
        margin-right: 7px; }
        .toolbar--option--btn--wrap .filter--condition--box .search--wrap .search--box__input {
          padding-right: 20px; }
      .toolbar--option--btn--wrap .filter--condition--box .search--wrap .search--btn {
        position: absolute;
        right: 7px;
        top: 11px;
        color: #AEAEAE;
        cursor: pointer; }
        .toolbar--option--btn--wrap .filter--condition--box .search--wrap .search--btn:hover {
          color: #333333; }
    .toolbar--option--btn--wrap .filter--condition--box .select--input--box {
      margin-right: 7px; }
      .toolbar--option--btn--wrap .filter--condition--box .select--input--box .head {
        display: inline-block;
        line-height: normal;
        vertical-align: middle; }
    .toolbar--option--btn--wrap .filter--condition--box .load--quantity {
      color: #337ab7;
      font-size: 14px; }

.bread--crumb--wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 30px; }

.mat-menu-item__button {
  height: 40px;
  line-height: 40px; }

.a-upload {
  padding: 4px 10px;
  height: 20px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  color: #888;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.a-upload input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer; }

.a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none; }

.test {
  height: 100%;
  float: right;
  width: calc(100% - 70px);
  background: #f3f3f3; }

.checkbox {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; }
  .checkbox .input_check {
    position: absolute;
    visibility: hidden; }
  .checkbox .input_check + label {
    background-color: #FFF;
    border: 1px solid #C1CACA;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin-right: 5px;
    border-radius: 2px;
    margin-bottom: 0;
    font-weight: normal !important; }
  .checkbox .input_check + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }
  .checkbox .input_check:checked + label {
    background-color: #199ed8;
    border: 1px solid #199ed8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #243441;
    border-radius: 2px; }
  .checkbox .input_check:checked + label:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 4px;
    top: 0;
    display: table;
    width: 6.66667px;
    height: 11.33333px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: "";
    color: #fff; }

.ztree--box {
  float: left;
  height: 100%;
  width: 250px;
  background: #f3f3f3;
  color: #333333;
  overflow: hidden; }

.custom--column--configuration--box .single--custom {
  padding: 0 16px;
  height: 40px;
  line-height: 40px; }

.data--list--doc--icon--box {
  display: inline-block;
  width: 18px;
  text-align: center; }

.data--list--doc--icon {
  vertical-align: bottom; }

/*# sourceMappingURL=fileBase.component.css.map */
