<form name="form" (ngSubmit)="f.form.valid && setMulPro()" #f="ngForm" novalidate class="new--folder--modal">
  <h2 md-dialog-title>批量修改属性</h2>
  <md-dialog-content  class="new--folder--dialog--content">
    <md-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="selectedIndexChange()" md-dynamic-height md-border-bottom class="sidebar--info--content--box">
      <md-tab  *ngFor="let type of typeLists" label="{{type.displayName}}">
        <div class="new--folder--modal--attr--wrap">
          <div  *ngFor="let attr of attrList[type.typeName];let i = index">
            <div *ngIf="!attr.isMore" class="form-group new--folder--modal--attr--box" [ngClass]="{ 'has-error': f.submitted && !attr.attrName.valid && attr.required }">
              <div class="attr--checked--box">
                <md-checkbox name="{{type.typeName}}{{attr.attrName}}checkbox" *ngIf="!attr.readOnly"  class="example-margin" [(ngModel)]="attr.isChecked"></md-checkbox>
              </div>
              <label class="attr--name" for="{{type.typeName}}{{attr.attrName}}">{{attr.displayName}}：</label>
              <div style="position: relative;display:inline-block;">
                <div *ngIf="attr.inputMode == 1 && !attr.readOnly">
                  <input id="{{type.typeName}}{{attr.attrName}}" [disabled]="!attr.isChecked"  type="text" class="form-control attr--value" name="{{type.typeName}}{{attr.attrName}}" [(ngModel)]="attr.attrValue" #{{type.typeName}}{{attr.attrName}}="ngModel" [required]="attr.required" />
                </div>
                <div *ngIf="attr.inputMode == 2 && !attr.readOnly">
                  <md-input-container  id="{{type.typeName}}{{attr.attrName}}"  class="attr--value date--input--box">
                    <input [disabled]="!attr.isChecked" mdInput [mdDatepicker]="startPicker"  name="{{type.typeName}}{{attr.attrName}}" [(ngModel)]="attr.attrValue" #{{type.typeName}}{{attr.attrName}}="ngModel" [required]="attr.required">
                    <button [disabled]="!attr.isChecked" mdSuffix [mdDatepickerToggle]="startPicker"></button>
                  </md-input-container>
                  <md-datepicker #startPicker></md-datepicker>
                </div>
                <div *ngIf="attr.inputMode == 3 && !attr.readOnly">
                  <md-radio-group id="{{type.typeName}}{{attr.attrName}}" name="{{type.typeName}}{{attr.attrName}}" [(ngModel)]="attr.attrValue">
                    <md-radio-button [disabled]="!attr.isChecked" value="true">是</md-radio-button>
                    <md-radio-button [disabled]="!attr.isChecked" value="false" >否</md-radio-button>
                  </md-radio-group>
                </div>
                <div  *ngIf="attr.inputMode == 4 && !attr.readOnly">
                  <md-select [disabled]="!attr.isChecked" id="{{type.typeName}}{{attr.attrName}}" class="attr--value select--input--box"  name="{{type.typeName}}{{attr.attrName}}" [(ngModel)]="attr.attrValue" #{{type.typeName}}{{attr.attrName}}="ngModel" [required]="attr.required" >
                    <md-option *ngFor="let selectValue of attr.attrOptions" [value]="selectValue.name">
                      {{selectValue.name}}
                    </md-option>
                  </md-select>
                </div>
                <div *ngIf="attr.inputMode == 5 && !attr.readOnly" class="attr--value">
                  <a *ngIf="attr.isChecked" (click)="editMultiple(attr)">编辑</a>
                  <span>{{attr.attrValue}}</span>
                </div>
                <div  messageVerify [elementName]="type.typeName + attr.attrName" *ngIf="f.submitted && !attr.attrValue && attr.required" class="FormMessage-container">
                  <div class="form-messages">
                    <div class="msg-tri-outside"></div>
                    <div class="msg-tri-inside"></div>
                    <div  class="form-messages__icon fa fa-exclamation-circle">
                      <div >{{attr.displayName}}不能为空</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="new--folder--modal--attr--box" *ngIf="showMoreAttr[type.typeName] == false "(click)="showMore(type.typeName)" >
            <span class="more set--mul--property--more">显示更多</span>
          </div>
          <div class="new--folder--modal--attr--box" *ngIf="showMoreAttr[type.typeName] == true" (click)="showMoreAttr[type.typeName] = false">
            <span class="hide--content set--mul--property--more">隐藏更多</span>
          </div>
          <div [hidden]="!showMoreAttr[type.typeName]" *ngFor="let attr of attrList[type.typeName];let i = index">
            <div *ngIf="attr.isMore" class="form-group new--folder--modal--attr--box" [ngClass]="{ 'has-error': f.submitted && !attr.attrName.valid && attr.required }">
              <div class="attr--checked--box">
                <md-checkbox name="{{type.typeName}}{{attr.attrName}}checkbox" *ngIf="!attr.readOnly"  class="example-margin" [(ngModel)]="attr.isChecked"></md-checkbox>
              </div>
              <label class="attr--name" for="{{type.typeName}}{{attr.attrName}}">{{attr.displayName}}：</label>
              <div style="position: relative;display:inline-block;">
                <div *ngIf="attr.inputMode == 1 && !attr.readOnly">
                  <input id="{{type.typeName}}{{attr.attrName}}" [disabled]="!attr.isChecked"  type="text" class="form-control attr--value" name="{{type.typeName}}{{attr.attrName}}" [(ngModel)]="attr.attrValue" #{{type.typeName}}{{attr.attrName}}="ngModel" [required]="attr.required" />
                </div>
                <div *ngIf="attr.inputMode == 2 && !attr.readOnly">
                  <md-input-container  id="{{type.typeName}}{{attr.attrName}}"  class="attr--value date--input--box">
                    <input [disabled]="!attr.isChecked" mdInput [mdDatepicker]="startPicker"  name="{{type.typeName}}{{attr.attrName}}" [(ngModel)]="attr.attrValue" #{{type.typeName}}{{attr.attrName}}="ngModel" [required]="attr.required">
                    <button [disabled]="!attr.isChecked" mdSuffix [mdDatepickerToggle]="startPicker"></button>
                  </md-input-container>
                  <md-datepicker #startPicker></md-datepicker>
                </div>
                <div *ngIf="attr.inputMode == 3 && !attr.readOnly">
                  <md-radio-group id="{{type.typeName}}{{attr.attrName}}" name="{{type.typeName}}{{attr.attrName}}" [(ngModel)]="attr.attrValue">
                    <md-radio-button [disabled]="!attr.isChecked" value="true">是</md-radio-button>
                    <md-radio-button [disabled]="!attr.isChecked" value="false" >否</md-radio-button>
                  </md-radio-group>
                </div>
                <div  *ngIf="attr.inputMode == 4 && !attr.readOnly">
                  <md-select [disabled]="!attr.isChecked" id="{{type.typeName}}{{attr.attrName}}" class="attr--value select--input--box"  name="{{type.typeName}}{{attr.attrName}}" [(ngModel)]="attr.attrValue" #{{type.typeName}}{{attr.attrName}}="ngModel" [required]="attr.required" >
                    <md-option *ngFor="let selectValue of attr.attrOptions" [value]="selectValue.name">
                      {{selectValue.name}}
                    </md-option>
                  </md-select>
                </div>
                <div *ngIf="attr.inputMode == 5 && !attr.readOnly" class="attr--value">
                  <a *ngIf="attr.isChecked" (click)="editMultiple(attr)">编辑</a>
                  <span>{{attr.attrValue}}</span>
                </div>
                <div  messageVerify [elementName]="type.typeName + attr.attrName" *ngIf="f.submitted && !attr.attrValue && attr.required" class="FormMessage-container">
                  <div class="form-messages">
                    <div class="msg-tri-outside"></div>
                    <div class="msg-tri-inside"></div>
                    <div  class="form-messages__icon fa fa-exclamation-circle">
                      <div >{{attr.displayName}}不能为空</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </md-tab>
    </md-tab-group>
    <loading-message *ngIf="loading" ></loading-message>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-button [disabled]="loading" class="btn btn-sure">确定</button>
    <button md-button md-dialog-close >取消</button>
  </md-dialog-actions>
</form>
