@charset "UTF-8";
body {
  font-family: Arial, Tahoma, Verdana, "Hiragino Sans GB", Microsoft YaHei, SimSun, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333; }

* {
  outline: none; }

a {
  cursor: pointer; }

ul {
  list-style: none;
  padding-left: 0; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  width: 5px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #adadad; }

::-webkit-scrollbar-thumb:active {
  background-color: #adadad; }

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent; }

/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  width: 5px;
  border-radius: 10px; }

.mat-sidenav-content {
  overflow-y: hidden !important; }

.datatable-row-wrapper {
  border-bottom: 1px solid #eeeeee; }
  .datatable-row-wrapper .datatable-body-row:hover {
    background: #f2f6ff !important; }
  .datatable-row-wrapper .datatable-body-row.active {
    background-color: #F1F8FF !important; }
  .datatable-row-wrapper:nth-child(odd):hover {
    background: #f2f6ff !important; }
  .datatable-row-wrapper:nth-child(even) {
    background-color: #f2f2f2; }
    .datatable-row-wrapper:nth-child(even) .ui-grid-cell {
      background: transparent; }
    .datatable-row-wrapper:nth-child(even):hover {
      background: #f2f6ff !important; }

.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: #F1F8FF !important;
  color: #333333; }
  .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group:hover {
    color: #333333 !important; }

.datatable-header {
  background: #4f93c5; }

.datatable-header-cell {
  color: #ffffff !important;
  vertical-align: middle !important; }

.datatable-body-cell-label {
  display: inline-block;
  line-height: normal;
  vertical-align: bottom;
  width: 100%; }
  .datatable-body-cell-label .object_name {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: sub; }

.datatable-header-cell .checkbox {
  margin-top: 0; }

.checkbox {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0 0 0; }
  .checkbox .input_check {
    position: absolute;
    visibility: hidden; }
  .checkbox .input_check + label {
    background-color: #FFF;
    border: 1px solid #C1CACA;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin-right: 5px;
    border-radius: 2px;
    margin-bottom: 0; }
  .checkbox .input_check + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }
  .checkbox .input_check:checked + label {
    background-color: #199ed8;
    border: 1px solid #199ed8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #243441;
    border-radius: 2px; }
  .checkbox .input_check:checked + label:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 4.66667px;
    top: 1.22222px;
    display: table;
    width: 5.66667px;
    height: 9.33333px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: "";
    color: #fff; }

.radio label, .checkbox label {
  min-height: 16px;
  margin-bottom: 2px; }

.btn {
  margin-right: 5px; }

.mat-menu-content .mat-menu-item {
  font-size: inherit; }

.middle--line {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle; }

.mat-ink-bar {
  top: 0;
  height: 4px !important;
  background: #5ebd8c; }

.mat-tab-label {
  min-width: 120px !important; }

.mat-tab-label:focus {
  background: transparent; }

.btn-sure {
  color: #ffffff !important;
  background: #46BC98;
  margin-left: 5px !important;
  outline: none !important; }
  .btn-sure:hover {
    background: #45ad8a; }

.btn-border {
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 5px !important;
  outline: none !important;
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
  border-radius: 4px; }
  .btn-border:hover {
    border-color: #333333;
    background: transparent; }

.mat-dialog-title {
  background: #46bc98;
  margin: -24px -24px 0 -24px !important;
  color: #fff;
  padding: 15px 10px 15px 24px; }

.mat-dialog-actions {
  flex-direction: row-reverse; }

.mat-dialog-container {
  height: auto !important;
  max-width: 100vw !important; }

.mat-dialog-content {
  padding: 10px 24px 20px !important; }

.datatable-row-wrapper:hover .object_name {
  display: inline-block;
  max-width: calc(100% - 85px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.datatable-row-wrapper:hover .hidd {
  visibility: visible; }

.mat-input-wrapper {
  padding-bottom: 0;
  height: inherit; }

.mat-input-underline {
  height: 0 !important; }

.mat-input-infix {
  border-top: 0;
  height: inherit;
  padding: 0; }
  .mat-input-infix .mat-input-element {
    height: inherit; }

.mat-input-flex {
  height: inherit; }

.mat-input-underline .mat-input-ripple {
  height: 0 !important; }

.mat-input-suffix {
  position: absolute;
  top: 7px;
  right: 0; }

.mat-select {
  height: 34px;
  padding: 0 6px 0 12px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  vertical-align: middle; }

.mat-select-underline {
  height: 0 !important; }

.mat-select-placeholder.mat-floating-placeholder {
  top: 5px !important;
  left: -10px !important;
  width: auto !important; }

.mat-select-trigger {
  font-size: 13px;
  height: 34px !important; }

.mat-option {
  font-size: inherit !important; }

.FormMessage-container {
  position: absolute; }

.form-messages {
  position: absolute;
  z-index: 99;
  padding: 3px 10px;
  font-size: 12px;
  margin: -6px;
  top: 100%;
  white-space: nowrap;
  left: 50%;
  border: 1px solid #bbb;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 #bbb; }
  .form-messages .msg-tri-outside {
    position: absolute;
    width: 0px;
    height: 0;
    left: 10px;
    top: -14px;
    border-style: solid;
    border-width: 7px;
    border-color: transparent transparent #bbb; }
  .form-messages .msg-tri-inside {
    position: absolute;
    width: 0px;
    height: 0;
    left: 10px;
    top: -13px;
    border-style: solid;
    border-width: 7px;
    border-color: transparent transparent #fff; }
  .form-messages .form-messages__icon {
    color: #faab20;
    line-height: 1.5; }
    .form-messages .form-messages__icon div {
      display: inline;
      font-size: 12px;
      color: #000000;
      font-family: Arial, Verdana, Tahoma, "Hiragino Sans GB", Microsoft YaHei, SimSun, sans-serif; }
      .form-messages .form-messages__icon div span {
        display: inline; }

.btn {
  outline: none !important; }

.table > thead > tr > th {
  border-bottom: 1px solid #ddd; }

.mat-toolbar {
  min-height: 60px !important; }
  @media (max-width: 1366px) {
    .mat-toolbar {
      min-height: 50px !important; } }

.mat-toolbar-row {
  height: 60px !important; }
  @media (max-width: 1366px) {
    .mat-toolbar-row {
      height: 50px !important; } }

.hidd {
  visibility: hidden; }
  .hidd.list--option--btn {
    color: #A0A0A0;
    margin-left: 5px; }
    .hidd.list--option--btn:hover {
      color: #646464; }

.user--gird--list--wrap {
  height: calc(100% - 50px); }

.mat-option.mat-selected.mat-primary, .mat-primary .mat-option.mat-selected {
  color: #1e88e5; }

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow, .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
  color: #1e88e5; }

label {
  font-weight: normal;
  margin-bottom: 0;
  vertical-align: middle; }

.no--data {
  width: 50%;
  height: 50%;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 70px;
  left: 0;
  right: 0;
  font-size: 16px;
  color: #ab0909; }
  .no--data:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f06a';
    color: #ab0909; }

.loading {
  width: 50%;
  height: 50%;
  min-height: 80px;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  font-size: 16px;
  color: #199ed8; }
  .loading:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f110';
    color: #199ed8;
    animation: fa-spin 1s infinite steps(8); }

.list--no--data {
  min-height: 80px;
  position: absolute;
  text-align: center;
  margin: 10px 14px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #eee; }
  .list--no--data .no--data__prompt--box {
    display: table;
    width: 1px;
    margin: 0 auto;
    padding-top: 70px; }
    .list--no--data .no--data__prompt--box .prompt--img {
      display: table-row;
      opacity: .8;
      text-align: center;
      text-align: -webkit-center; }
    .list--no--data .no--data__prompt--box .prompt--head {
      display: table-cell;
      font-size: 18px;
      color: #c9c9c9;
      padding: 20px 25px 20px 0; }
    .list--no--data .no--data__prompt--box .prompt--content {
      display: table-row;
      white-space: nowrap;
      font-size: 12px;
      color: #999;
      line-height: 2;
      text-align: left; }
      .list--no--data .no--data__prompt--box .prompt--content:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: '\f06a';
        color: #f90;
        margin-right: 5px; }

.mat-radio-container {
  width: 18px !important;
  height: 18px !important;
  margin-bottom: 2px; }

.mat-radio-outer-circle {
  width: 18px !important;
  height: 18px !important; }

.mat-radio-inner-circle {
  width: 18px !important;
  height: 18px !important; }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #199ed8; }

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background: #199ed8; }

.fileinfo--right--sidebar--info--content .sidebar--info--content--box .mat-tab-body-wrapper {
  height: calc(100% - 50px); }
  .fileinfo--right--sidebar--info--content .sidebar--info--content--box .mat-tab-body-wrapper .mat-tab-body {
    height: 100%; }
    .fileinfo--right--sidebar--info--content .sidebar--info--content--box .mat-tab-body-wrapper .mat-tab-body .attr--type--wrap {
      height: 100%;
      padding-top: 15px; }
      .fileinfo--right--sidebar--info--content .sidebar--info--content--box .mat-tab-body-wrapper .mat-tab-body .attr--type--wrap.permissions--info {
        padding-top: 0; }
      .fileinfo--right--sidebar--info--content .sidebar--info--content--box .mat-tab-body-wrapper .mat-tab-body .attr--type--wrap .attr--type--box {
        height: calc(100% - 70px);
        overflow-y: auto;
        padding-top: 5px;
        overflow-x: hidden; }

.modal-group-add-member-result__content .mat-select-trigger {
  min-width: 80px !important; }

.file--info--version .modal-group-add-membe-body {
  height: calc(100% - 106px) !important;
  overflow: hidden; }

.pagination {
  margin: 20px 0 0 0; }

.mat-tab-body-content {
  transform: none !important; }

.custom--column--configuration--box .single--custom {
  padding: 0 16px;
  height: 40px;
  line-height: 40px; }
  .custom--column--configuration--box .single--custom .checkbox {
    line-height: normal; }

.attr--table--box {
  margin-top: 15px; }
  .attr--table--box .table__th--tr {
    background: #f5f5f5; }
    .attr--table--box .table__th--tr th {
      padding: 10px 5px;
      line-height: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-top: 1px solid #ddd !important; }
  .attr--table--box td {
    padding: 8px 5px !important;
    line-height: normal !important; }

.mat-checkbox-inner-container {
  width: 16px !important;
  height: 16px !important; }

.mat-checkbox-frame {
  border-width: 1px !important;
  border-color: #c1caca;
  border-radius: 2px; }

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #199ed8; }

.same--type--btn--group__menu .divider--line {
  display: inline-block;
  width: 100%;
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  background-color: #e5e5e5; }
.same--type--btn--group__menu .mat-menu-item__button {
  height: 34px;
  line-height: 34px;
  padding: 0 35px; }
.same--type--btn--group__menu .link--to {
  border-bottom: 1px solid #e5e5e5;
  height: 45px !important;
  padding-bottom: 5px;
  margin-bottom: 5px; }
.same--type--btn--group__menu .drop--menu--copy--to:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: '\f07b';
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 16px;
  color: #999999; }
.same--type--btn--group__menu .drop--menu--version--manage:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: '\f1da';
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 16px;
  color: #999999; }

.attr--checked--box label {
  margin-bottom: 2px; }

/*# sourceMappingURL=main.css.map */
