<div class="modal-group-add-membe-body clearfix">
  <div class="modal-group-add-member pull-left">
    <ul class="modal-group-add-member__content ">
      <li *ngFor="let list of selectList; let i = index"
          [ngClass]="{'isSelected':list.isSelected}"
          class="modal-group-add-member__content__everyuser"
        >
        <span class="everyuser-username">{{list.name}}</span>
        <i *ngIf="!list.isChecked" (click)="list.isChecked = !list.isChecked;$event.stopPropagation()"
           class="fa fa-circle-o modal-group-add-member__content__everyuser-icon  pull-right"></i>
        <i *ngIf="list.isChecked" (click)="list.isChecked = !list.isChecked;$event.stopPropagation()"
           class="fa fa-check-circle modal-group-add-member__content__everyuser-icon selected pull-right"></i>
      </li>
    </ul>
  </div>

  <div class="modal-group-add-member-result pull-right">
    <ul class="modal-group-add-member-result__content ">
      <li *ngFor="let list of selectList; let i = index"
          [hidden]="!list.isChecked"
          [ngClass]="{'isSelected':list.isSelected}"
          (click)="selectedRow(list)"
          class="modal-group-add-member-result__content__everyuser"
        >
        <span class="everyuser-username">{{list.name}}</span>
        <i (click)="list.isChecked = !list.isChecked;$event.stopPropagation()"
           class="fa fa-times-circle pull-right modal-group-add-member-result__content__everyuser-icon"></i>
      </li>
    </ul>
  </div>


</div>
<div class="multi--select--board--option">
  <a (click)="toUp()" class="btn btn-default">{{ 'CORE_COMPONENT_MULTISELECTBOARD_MOVE_UP' | translate}}</a>
  <a (click)="toDown()" class="btn btn-default">{{ 'CORE_COMPONENT_MULTISELECTBOARD_MOVE_DOWN' | translate}}</a>
</div>

