@charset "utf-8";
.doc-breadcrumb-container {
  //position: absolute;
  //top: 124px;
  //top: 120px;
  //top: 113px;
  //bottom: 0;
  //left: 260px;
  //right: 0;
  //padding-left: 10px;
  padding-left: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
}

.doc-breadcrumb__li__click {
  //color:blue !important;
}
.doc-breadcrumb-container .doc-breadcrumb {
  margin-bottom: 0;
  color: #999;
}
@media (max-width: 1440px) {
  .doc-breadcrumb-container .doc-breadcrumb {
    //max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; } }

.doc-breadcrumb {
  height: 32px; }
.doc-breadcrumb .doc-breadcrumb__li {
  float: left;
  cursor: pointer;
  line-height: 32px;
  padding-right: 5px;
  a{
    color: #337ab7;
  }
}
.doc-breadcrumb__li{
  .doc-breadcrumb__li__click--first {
    font-weight: 900;
    cursor: default;
    color: #000000 !important;
    a{
      cursor: default;
      color: #000000;
    }
    .breadcrumb--right--iocn{
      font-weight: normal;
    }
  }
}
.doc-breadcrumb .doc-breadcrumb__li.last {
  cursor: default; }
.doc-breadcrumb .doc-breadcrumb__li.last a {
  color: #000000;
  cursor: default; }
.doc-breadcrumb .doc-breadcrumb__li.last .doc-breadcrumb__li__rgticon {
  visibility: hidden; }
.doc-breadcrumb a {
  color: #000000; }


.doc-breadcrumb__li__click__title{
  display: inline-block;
  max-width: 150px;
  height: 15px;
  line-height: 15px;
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fa-angle-right{
  font-size: 14px;
  //color: #e0e1e5;
  color: #999;
}

.curSelectedNode{
  color: red !important;
}
