<div class="group--sidebar--info--wrap">
  <md-toolbar class="group--sidebar--info--head">
    <span class="fa fa-cogs head--bg-icon"></span>
    <div class="head--box">
      <div class="head" >用户信息</div>
    </div>

  </md-toolbar>
  <div class="groupinfo--right--sidebar--info--content" *ngIf="!editStatus">
    <div class="attr--type--box">
      <div class="single--attr--row">
        <span class="title">用户名：</span>
        <span class="value">{{entity.userName}}</span>
      </div>
      <div class="single--attr--row">
        <span class="title">登录名：</span>
        <span class="value">{{entity.loginName}}</span>
      </div>
      <div class="single--attr--row">
        <span class="title">密码：</span>
        <span class="value">{{entity.password}}</span>
      </div>
      <div class="single--attr--row">
        <span class="title">邮箱地址：</span>
        <span class="value">{{entity.email}}</span>
      </div>
    </div>
    <div class="option--btn--box">
      <button md-button (click)="editStatus = true" [disabled]="loading" class="btn btn-sure one--btn">编辑</button>
    </div>
  </div>

  <div class="groupinfo--right--sidebar--info--content" *ngIf="editStatus">
    <form name="form" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate>
      <div class="attr--type--box">
        <div class="form-group single--attr--row" [ngClass]="{ 'has-error': f.submitted && !userName.valid && userName.required }">
          <label class="title">用户名：</label>
          <div class="input--value" style="position: relative;display:inline-block;">
            <input id="userName" type="text" class="form-control attr--value"
                   name="userName" [(ngModel)]="entity.userName"
                   #userName="ngModel" [required]="true" />
            <div  messageVerify [elementName]="'userName'" *ngIf="f.submitted && !userName.value" class="FormMessage-container">
              <div class="form-messages">
                <div class="msg-tri-outside"></div>
                <div class="msg-tri-inside"></div>
                <div  class="form-messages__icon fa fa-exclamation-circle">
                  <div >用户名不能为空</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group single--attr--row" [ngClass]="{ 'has-error': f.submitted && !loginName.valid && loginName.required }">
          <label class="title">登录名：</label>
          <div class="input--value" style="position: relative;display:inline-block;">
            <input id="loginName" type="text" class="form-control attr--value"
                   name="loginName" [(ngModel)]="entity.loginName"
                   #loginName="ngModel" [required]="true" />
            <div  messageVerify [elementName]="'loginName'" *ngIf="f.submitted && !loginName.value" class="FormMessage-container">
              <div class="form-messages">
                <div class="msg-tri-outside"></div>
                <div class="msg-tri-inside"></div>
                <div  class="form-messages__icon fa fa-exclamation-circle">
                  <div >登录名不能为空</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group single--attr--row" [ngClass]="{ 'has-error': f.submitted && !password.valid && password.required }">
          <label class="title">密码：</label>
          <div class="input--value" style="position: relative;display:inline-block;">
            <input id="password" type="password" class="form-control attr--value"
                   name="password" [(ngModel)]="entity.password"
                   #password="ngModel" [required]="true" />
            <div  messageVerify [elementName]="'password'" *ngIf="f.submitted && !password.value" class="FormMessage-container">
              <div class="form-messages">
                <div class="msg-tri-outside"></div>
                <div class="msg-tri-inside"></div>
                <div  class="form-messages__icon fa fa-exclamation-circle">
                  <div >密码不能为空</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group single--attr--row">
          <label class="title">邮箱：</label>
          <div class="input--value" style="position: relative;display:inline-block;">
            <input id="email" type="email" class="form-control attr--value"
                   name="email" [(ngModel)]="entity.email"
                   #email="ngModel" />
          </div>
        </div>
      </div>
    </form>
    <div class="option--btn--box">
      <button md-button (click)="editStatus = false" [disabled]="loading" class="two--btn">取消</button>
      <button md-button  [disabled]="loading" class="btn btn-sure two--btn">确定</button>
    </div>
  </div>

</div>



