 <h2 md-dialog-title>上传文件</h2>
  <md-dialog-content>
    <md-tab-group md-dynamic-height md-border-bottom>
      <md-tab label="上传文件夹">
        <div *ngFor="let folder of folderLists;let i = index">
          文件夹:{{folder.fileName}}
          父文件:{{folder.parentFolder}}
          路径:{{folder.path}}
        </div>
      </md-tab>
      <md-tab label="上传文件">
        <div style="width:500px;height: 500px;">
          <div *ngFor="let file of data.myDropzone.files; let i = index">
            {{file.name}}
            <span *ngIf="file.status == 'success'">成功</span>
            <md-progress-bar
              class="example-margin"
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="file.upload.progress"
              [bufferValue]="bufferValue">
            </md-progress-bar>
            <div>
              {{file.upload.progress}}
            </div>
            <button md-button  *ngIf="file.status != 'success'" (click)="setFile(file)">配置</button>
          </div>
        </div>
      </md-tab>
    </md-tab-group>

  </md-dialog-content>
  <md-dialog-actions>
    <button md-button (click)="uploadFiles()">确定</button>
    <button md-button md-dialog-close>关闭</button>
  </md-dialog-actions>


