<form name="form" (ngSubmit)="f.form.valid && setFile()" #f="ngForm" novalidate>
  <h2 md-dialog-title>配置文件属性</h2>
  <md-dialog-content>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !attr1.valid }">
      <label for="attr1">属性1</label>
      <input type="text" class="form-control" name="attr1" [(ngModel)]="entity.attr1" #attr1="ngModel" required />
      <div *ngIf="f.submitted && !attr1.valid" class="help-block">attr1不能为空</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !attr2.valid }">
      <label for="attr2">属性2</label>
      <input type="text" class="form-control" name="attr2" [(ngModel)]="entity.attr2" #attr2="ngModel" required />
      <div *ngIf="f.submitted && !attr2.valid" class="help-block">attr2不能为空</div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-button [disabled]="loading" class="btn btn-sure">确定</button>
    <button md-button (click)="cancel()">取消</button>
  </md-dialog-actions>
</form>
