@charset "utf-8";
ul{
  list-style: none;
  padding-left: 0;
}
.example-container{
  width: 200px;
  height: 1000px;
  border-right: 1px solid #f2f2f2;
  float: left
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.sidenav--one--level--wrap{
  //width: 100px;
  //width: 70px;
  width: 50px;
  border-right: none;
  height: 100%;
  //height: calc(100% - 64px);
  @media (max-width: 1366px) {
    width: 50px;
  }
  .sidenav--one--level--box{
    padding: 0;
    background: #505d6c;
    //background: #383e46 ;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1) inset;
    color: #797979;
    width: 100%;
    overflow-x: hidden;
    min-width: auto;
    .menu--wrap{
      height: calc(100% - 10px);
      //border-right: 1px solid #505d6c;
      width: 100%;
      //border-right: 1px solid #383e46;
      .single--column{
        padding: 0;
        margin: 0;
        text-align: center;
        border: 1px solid transparent;
        width: 100%;
        //border-left: 1px solid transparent;
        //border-top: 1px solid transparent;
        //border-bottom: 1px solid transparent;
        &.active{
          //border: 1px solid #597493;
          //border-right: 1px solid #597493;
          //background: #597493 !important;
          //border: 1px solid #f3f3f3;
          //border-right: 1px solid #f3f3f3;
          background: transparent;
          position: relative;
          //
          //box-shadow:0 0 10px 5px rgba(0, 0, 0, 0.1), 0 0 10px 1px rgba(0, 0, 0, 0.1);
          .single--column_link{
            background: inherit;
          }
          .triangle--icon{
            width: 0;
            height: 0;
            font-size: 0;
            border-width: 8px;
            border-style: solid;
            border-color: transparent #f3f3f3 transparent transparent;
            overflow: hidden;
            position: absolute;
            right: -2px;
            bottom: 27px;
          }
        }
        .single--column_link{
          height: 70px;
          line-height: 70px;
          display: inline-block;
          vertical-align: middle;
          text-decoration: none;
          //color: #c2ccd8;
          color: #ffffff;
          font-size: 22px;
          &:hover{
            color: #ffffff;
          }
          .university--icon{
            display: inline-block;
            width: 22px;
            height: 24px;
            background: url(../../../../assets/images/university--small.png);
          }
          .company--icon{
            display: inline-block;
            width: 25px;
            height: 31px;
            background: url(../../../../assets/images/company--small.png);
            position: relative;
            top: 8px;
          }
          .user--icon{
            display: inline-block;
            width: 33px;
            height: 20px;
            background: url(../../../../assets/images/user--small.png);
            //position: relative;
            //top: 8px;
          }
        }
      }
    }
  }
}
