<md-sidenav-container class="example-container sidenav--one--level--wrap" style="z-index: 99">
  <md-sidenav #sidenav mode="side" opened="true" class="example-sidenav sidenav--one--level--box"
  >
    <ul class="menu--wrap" >
      <li class="single--column" routerLinkActive="active">
        <a class="single--column_link" routerLink="/fileBase"><span class="university--icon"></span></a>
        <span class="triangle--icon"></span>
      </li>
      <li class="single--column " routerLinkActive="active">
        <a class="single--column_link"  routerLink="/projectFile" ><span class="company--icon"></span></a>
        <span class="triangle--icon"></span>
      </li>
      <li class="single--column" routerLinkActive="active">
        <a class="single--column_link" routerLink="/userManage" ><span class="user--icon"></span></a>
        <span class="triangle--icon"></span>
      </li>
    </ul>
  </md-sidenav>
</md-sidenav-container>
