.search-active {
  display: block !important; }

.toolbar--wrap {
  padding: 0;
  color: #333333;
  background: #46bc98;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 100; }
  .toolbar--wrap .mat-toolbar-row {
    height: 60px; }
    @media (max-width: 1366px) {
      .toolbar--wrap .mat-toolbar-row {
        min-height: 50px !important; } }
  .toolbar--wrap .logo--bg--box {
    width: 300px;
    height: 60px;
    padding-left: 10px; }
    @media (max-width: 1366px) {
      .toolbar--wrap .logo--bg--box {
        height: 50px; } }
    .toolbar--wrap .logo--bg--box .middle--line {
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle; }
    .toolbar--wrap .logo--bg--box .logo--name {
      display: inline-block;
      vertical-align: middle;
      width: 125px;
      height: 32px;
      background: url(../../../../assets/images/logo--white.png) no-repeat;
      margin-bottom: 5px; }
    .toolbar--wrap .logo--bg--box .logo--description {
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      width: 125px;
      white-space: normal;
      line-height: 1;
      text-align: left;
      color: #ffffff; }
  .toolbar--wrap .navbar--right--content--box {
    width: calc(100% - 300px);
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .toolbar--wrap .navbar--search--box {
    position: relative;
    width: 500px;
    color: #ffffff; }
    .toolbar--wrap .navbar--search--box .indent--btn {
      padding: 3px 10px;
      margin-left: 15px; }
    .toolbar--wrap .navbar--search--box .fa-search {
      font-size: 14px;
      color: #ffffff;
      position: absolute;
      top: 11px;
      left: 10px; }
    .toolbar--wrap .navbar--search--box .search--input {
      display: inline-block;
      background: #58c58d;
      border-color: #58c58d;
      background-color: rgba(255, 255, 255, 0.25);
      color: #FFF;
      border: 0;
      border-radius: 2px;
      height: 2.9rem;
      padding: 0 1rem 0 3rem;
      width: 100%;
      transition: background-color .3s,color .3s; }
    .toolbar--wrap .navbar--search--box input::-moz-placeholder {
      color: #FFF !important; }
    .toolbar--wrap .navbar--search--box input:-moz-placeholder {
      color: #FFF !important; }
    .toolbar--wrap .navbar--search--box input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #FFF; }
    .toolbar--wrap .navbar--search--box input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #FFF;
      opacity: 1; }
    .toolbar--wrap .navbar--search--box input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #FFF;
      opacity: 1; }
    .toolbar--wrap .navbar--search--box input:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #FFF; }
  .toolbar--wrap .toolbar--user--info--box {
    right: 15px;
    font-size: 13px;
    color: #ffffff; }
    .toolbar--wrap .toolbar--user--info--box .fa-search {
      font-size: 14px;
      margin-right: 15px; }
    .toolbar--wrap .toolbar--user--info--box .login--out--btn {
      color: #ffffff; }

.navbar--admin--icon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-right: 5px; }

/*# sourceMappingURL=toolBar.component.css.map */
