<bread-crumb
  [rootName]="rootName"
  [breadCrumbLists]="breadCrumbLists" [idLists]="ids" (clickBreadCrumb)="clickTreeOrBreadCrumb($event)"></bread-crumb>
<div class="modal-group-add-membe-body clearfix">
  <div class="modal-group-add-member pull-left">
    <div class="modal-group-add-member__content">
      <div class="modal-group-add-member__content__search--input--box">
        <input #searchBox class="form-control" id="search-box"  [formControl]="searchControl" placeholder="搜索"/>
        <md-select  class="select--input"   [(ngModel)]="objectType" (change)="changeType()">
          <md-option  [value]="'all'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_ALL' | translate}}
          </md-option>
          <md-option  [value]="'user'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_USER' | translate}}
          </md-option>
          <md-option  [value]="'group'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_GROUP' | translate}}
          </md-option>
          <md-option  [value]="'role'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_ROLE' | translate}}
          </md-option>
        </md-select>
      </div>

      <ul class="modal-group-add-member__list--box ">
        <!--<span class="modal-group-add-member__content__head"></span>-->
        <li *ngFor="let list of rows"
            class="modal-group-add-member__content__everyuser"
            (dblclick)="enterGroup(list)"

          >
          <span class="everyuser-username">{{list.objectName}}</span>
          <i (click)="selectRow(list);$event.stopPropagation()"
              [ngClass]="{'fa-circle-o' : !list.isChecked,'fa-check-circle' : list.isChecked}" class="fa  modal-group-add-member__content__everyuser-icon pull-right"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-group-add-member-result pull-right">
    <ul class="modal-group-add-member-result__content ">
      <li *ngFor="let list of selectedList; let i = index"
          class="modal-group-add-member-result__content__everyuser"
      >
        <span class="everyuser-username" >{{list.objectName}}</span>
        <i *ngIf="list.objectName != 'dm_owner' && list.objectName != 'dm_group' && list.objectName != 'dm_world'" (click)="selectedList.splice(i,1);cancelRow(list);$event.stopPropagation()"
           class="fa fa-times-circle pull-right modal-group-add-member-result__content__everyuser-icon"></i>
        <md-select  class=""  [(ngModel)]="list.permitCode" >
          <md-option  [value]="'1'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_NOTHING' | translate}}
          </md-option>
          <md-option  [value]="'2'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_BROWSE' | translate}}
          </md-option>
          <md-option  [value]="'3'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_READ' | translate}}
          </md-option>
          <md-option  [value]="'4'">
            {{ 'HOME_FILEBASE_VIEW_DOWNLOAD' | translate}}
          </md-option>
          <md-option  [value]="'5'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_VERSION_CONTROL' | translate}}
          </md-option>
          <md-option  [value]="'6'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_WRITE' | translate}}
          </md-option>
          <md-option  [value]="'7'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_DELETE' | translate}}
          </md-option>
        </md-select>
        <md-select  class=""  [(ngModel)]="list.extendsPermitNames" >
          <md-option  [value]="'CHANGE_PERMIT'">
            {{ 'CORE_COMPONENT_MULJURISDICTION_CHANGE_PERMISSION' | translate}}
          </md-option>
          <md-option  [value]="''">
            {{ 'CORE_COMPONENT_MULJURISDICTION_NOTHING' | translate}}
          </md-option>
        </md-select>
      </li>
    </ul>
  </div>
</div>
<ngb-pagination (pageChange)="changePage($event)" [pageSize]="50" [collectionSize]="totalElement" [(page)]="currentPage"  [rotate]="true" [boundaryLinks]="false"></ngb-pagination>
